
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.5;
    color: #212529;
    background-color: #EAEDF3;
}

form {
    background: #ffffff;
    padding: 40px;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
    border-radius: 8px;
    width: 430px;
    margin-top: 40px;
}

.li-page-client {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
    border-radius: 8px;
    width: 600px;
    margin-top: 20px;
    list-style-type: none;
}

.a-margin {
    margin-left: 30px;
}

button:hover {
    background-color: #363636;
    color: white;
}

.btn-dark {
    margin-top: 12px;
    margin-left: 6px;
}

a {
    text-decoration: none;
}

.client-btn {
    margin-left: 130px;
    margin-top: 20px;
}

input {
    width: 355px;
    margin-top: 12px;
    background: #f3f3f3;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    height: 32px;
}

.head-style {
    background: #ffffff;
    margin-top: 30px;
    padding: 20px; 
    width: 550px;
    text-align: center;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
    border-radius: 8px;
}

.style-logout {
    color: rgb(17, 17, 17);
    transition: 0.2s;
    margin-left: 12px;
}

.welcome-p {
    margin-top: 12px;
    border: 1px solid black;
    border-radius: 8px;
    height: 70px;
    padding: 20px;
}

.functionality {
    background: #ffffff;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
    border-radius: 8px;
    margin-top: 30px;
    padding: 20px; 
    width: 550px;
    text-align: center;
}

.li-client {
    border: 1px solid black;
    margin-top: 8px;
    border-radius: 8px;
    padding: 17px;
}

