
{% extends 'base.html' %}

{% block main %}

<h2> Empresa </h2>

    {% if user.is_authenticated %}
        <p>Bem vindo ADMIN {{ user.username }} !!!</p>       
    {% endif %}

    {% if user.company %}
        {% for company in companys %}
            {{ company.name_company }}
            <a class="btn btn-dark" href="company/page/?id={{ company.id }}">
                Edite sua empresa
            </a>
        {% endfor %}
    {% else %}
        <a class="btn btn-dark" href="">
            Cadastre Sua empresa
        </a>
    {% endif %}

    <a href="{% url 'list-clients' %}">Clientes</a>

    <a href="{% url 'logout' %}">Sair</a>

{% endblock %}

