{% extends 'base.html' %}

    {% block title %} Pagina Clientes {% endblock %} 

{% block main %}

    {% for client in clients %}
    
        <li>    

            {{ client.name }} 

            <a href="client/list/page/?id={{ client.id }}">
                <button class="btn btn-primary">
                    Editar
                </button>
            </a>

            <a href="client/list/delete/{{ client.id }}/">
                <button class="btn btn-danger">
                    Deletar
                </button>
            </a>
    
        </li>
      
    {% endfor %}

    <a href="page/">
        Cadastrar Clientes
    </a>


{% endblock %}
